[submodule "flac"]
	path = flac
	url = ../flac.git
[submodule "opus-tools"]
	path = opus-tools
	url = ../opus-tools.git
[submodule "opus"]
	path = opus
	url = ../opus.git
[submodule "libogg"]
	path = libogg
	url = ../libogg.git

